@font-face {
    font-family: 'norse';
    src: url("fonts/Norse.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'norse';
    src: url("fonts/Norsebold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

p {
    font-family: norse;
    font-weight: bold;
}

h2 {
    font-family: norse;
    font-weight: normal;
}